@page "/"

@using Blazor.Select

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<label>Select</label>
<Select Values="values">
    <Template>
        <img src="https://i.picsum.photos/id/740/50/50.jpg?hmac=AvsniRT9c-Q4kEBcIUjk5KkMJiMFXdr2PROul_irJRA" />
        <span>
            @context
        </span>
    </Template>
</Select>